.container {
  display: flex;
  margin-top: 1rem;
  width: 100%;
  height: 1400px;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.movie{
  text-align: center;
}

.mo {
  color: black;
}
.movie-details {
  width: 238px;
  margin-left: 5rem;
}

img {
  height: 17.4rem;
  width: 14rem;
  margin-left: 4.5rem;
  margin-top: 1rem;
}

h3 {
  font-size: 1rem;
  color: crimson;;
}
.list{
  list-style-type: none;
}
.card {
  display: flex;
  flex-direction: column;
  /* height: 680px; */
  width: 371px;
  box-shadow: 1px 1px 6px 1px;
  margin-left: 2rem;
  margin-top: 2rem;
  background-color:skyblue;
}
.contained{
  margin-top: 10px;
}
.btn{
  display:flex;
  gap:5px;
  margin-bottom: 10px;
}
.adddata{
  display:flex;
  flex-direction: column;
  gap:7px;
  align-items: center;
}