.container {
  display: flex;
  margin-top: 1rem;
  width: 100%;
  height: min-content;
  flex-wrap: wrap;
  margin-bottom: 2rem;
  justify-content:flex-start;
}
.movie{
  text-align: center;
}

.mo {
  color: black;
}
.movie-details {
  width: 238px;
  margin-left: 5rem;
}

.img-cls {
  height: 25.4rem;
  width: 21rem;
  /* margin-left: 4.5rem; */
  margin-top: 1rem;
}

h3 {
  font-size: 1rem;
  color: crimson;;
}
.list{
  list-style-type: none;
}
.card {
  display: flex;
  flex-direction: column;
  width: 371px;
  box-shadow: 1px 1px 6px 1px;
  margin-left: 2rem;
  margin-top: 2rem;
  background-color:skyblue;
}
.contained{
  margin-top: 10px;
}
.btn{
  display:flex;
  gap:5px;
  margin-bottom: 10px;
}
.adddata{
  display:flex;
  flex-direction: column;
  gap:7px;
  align-items: center;
}
.color{
  display:flex;
  flex-direction: column;
  align-items: center;
}
.welcome{
  /* margin-left: 30rem; */
  text-align: center;
  font-family:cursive;
}
.error-msg{
 margin-left: 30rem;
 
}
.like-button{
  display: flex;
  margin-left:5rem;
  gap:3rem;
}